body {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-weight: 400 !important;
    color: rgb(135 135 135);
}
.navbar-brand {
    font-size: 1.5rem;
}
.lead-n {
    font-weight: 400;
    color: rgb(135 135 135);
    font-size: 16px;
}
.fw-600 {
    font-weight: 600;
}
li.nav-item.hv {
    margin: 0 5px;
}
li.nav-item.hv:hover {
    background: #e1e1e1;
    border-radius: 15px;
}
.br-bg {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1rem;
    background: #fff;
    padding: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}
a.nav-link.active, button.active {
    background: #056dff !important;
    border-radius: 15px;
    color: #fff !important;
}
a.nav-link.active:hover, button.active:hover {
    background: #1660c7 !important;
}
button.active {
    font-size: 16px;
}
.body-bg {
    border-radius: 1rem;
    background-color: #f7f2f1;
}
.br-radius {
    border-radius: 1rem;
}
.box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.lead-ul {
    font-size: 16px;
}
.py-custom {
    padding-top: 5rem !important;
}

.btn-grad {
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
}
.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.shop-grid-rating li {
    display: inline-block;
}
ul.shop-grid-rating {
    padding-left: 0;
}
.lh-custom {
    line-height: 0;
}
/* Shine */
figure {
	overflow: hidden;
    margin: 0;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


